#map {
  height: 100%;
  position: absolute;
}

#loading {
  color: rgb(193, 191, 191);
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  position: relative;
  z-index: 30;
}