@import "@scss/Variables.scss";

.main-form-container {
  width: 50%;
  height: 100%;
}

.form-container {
  padding: 25px 45px 25px 45px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: inherit;
  width: 100%;
}

.app-title {
  color: $main-heading-color;
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}

.greeting {
  color: rgba(127, 127, 127, 0.687);
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: -.9px;
  text-align: center;
}

.label-email,
.label-pass {
  color: $form-btn-text-color;
  font-weight: 200;
  letter-spacing: 1.2px;

}

hr {
  color: black;
  border-width: 1px;
}


.input-email-form,
.input-pass-form {
  border: 1.2px solid $form-input-border-color;
}

.form-container input::placeholder {
  color: $form-input-placeholder-text-color;
  padding: 0 0 0 5px;
}

.button-styles {
  background-color: $form-background-color;
  border-color: $form-btn-initial-hover-border-color;
  border-style: solid;
  color: $form-btn-text-color;
  font-weight: 500;
  letter-spacing: .5px;
  padding: 4px 0 4px 0;
  transition: transform 0.2s;
}

.btn-valid:hover {
  border-color: $form-btn-hover-border-color;
  border-style: solid;
  color: $form-btn-hover-border-color;
  font-weight: 600;
}

.btn-invalid:hover {
  border-color: rgb(142, 0, 0);
  border-style: solid;
  color: rgb(142, 0, 0);
  font-weight: 600;
}

.missing-fields {
  color: rgba(142, 0, 0, 0.614);
  font-weight: 200;
  font-size: .9em;
  text-align: center;
}

.div-logging-in {
  color: rgba(0, 109, 142, 0.614);
  text-align: center;
  font-weight: 200;
  font-size: .9em;
}

.div-failed-login {
  color: rgba(142, 0, 0, 0.614);
  text-align: center;
  font-weight: 200;
  font-size: .9em;
}