@import "@scss/Variables.scss";

.form-container {
  height: $parent-height;
  width: $parent-width;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgba(94, 99, 104, 0.113);
  border-radius: 10px;
}

form {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  border-color: rgba(52, 168, 83, 0.256);
  border-style: solid;
}

.greeting {
  color: rgba(94, 99, 104, 0.858);
  font-size: 1.15em;
  font-weight: 400;
  letter-spacing: -.2px;
  text-align: center;
  margin: 20px 0 0 0;
}

.label-email,
.label-pass {
  color: rgba(127, 127, 127, 0.687);
  font-size: .9em;
  font-weight: 500;
  letter-spacing: -.2px;

}

hr {
  border-width: 1px;
  color: black;
  margin: 15px auto 15px auto;
  width: 70%;
}

.input-email-form,
.input-pass-form {
  border: 1.2px solid rgba(0, 0, 0, 0.759);
  border-radius: 5px;
}

.btn-div {
  margin: 40px 0 0 0;
}

.button-styles {
  background-color: $form-background-color;
  border-color: rgba(127, 127, 127, 0.687);
  border-radius: 5px;
  border-style: solid;
  color: rgba(127, 127, 127, 0.687);
  font-size: 1.15em;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 8px 0 8px 0;
  transition: transform 0.2s;
}

.btn-valid {
  border-color: rgba(19, 115, 233, 0.749);
  border-style: solid;
  color: rgba(19, 115, 233, 0.749);
  font-weight: 400;

  &:hover {
    border-color: rgba(15, 89, 179, 0.749);
    border-style: solid;
    border-width: 3px;
    color: rgba(15, 89, 179, 0.749);
    font-weight: 600;
  }

  &:active {
    transform: scale(1.025);
  }
}

.btn-invalid:hover {
  border-color: rgb(235, 65, 49);
  border-style: solid;
  color: rgb(235, 65, 49);
  font-weight: 600;
}

.missing-fields {
  color: rgba(235, 65, 49, 0.669);
  font-size: .9em;
  font-weight: 400;
  text-align: center;
}

.div-failed-login {
  color: rgba(235, 65, 49, 0.669);
  font-size: .9em;
  font-weight: 400;
  text-align: center;
}

.div-attempt-login {
  color: rgba(15, 89, 179, 0.749);
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  animation: fadeInOut 1.5s linear infinite;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}