button.form-submit {
  margin: 5px;
  min-height: 50px;
  min-width: 100px;
}

div.input-email,
div.input-pass {
  margin-bottom: 10px;
}

div.div-failed-login {
  margin-top: 10px;
  color: red;
}

div.div-logging-in {
  margin-top: 10px;
  color: rgb(193, 191, 191);
}
